.forget-section {
  background: url(../../static/img/backgroundImage.png) center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.resend-email {
  color: var(--white);
  margin-top: 10px;
  color: var(--white);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-l);
}
.resend-text {
  color: #b62b2b;
  font-weight: 700;
  text-decoration: underline !important;
  text-decoration-color: var(--cardinal);
}
